h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: inherit;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}

.cloudremind-title,
.acc-title{
  padding: 10px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
#test_type {
  width:90px;
}
#fengefu{
  margin-left:5px;
  text-align:left;
  width:400px;
}
#conf_args_name{
	width:120;
}

